h1 {
  font-family: arial;
  font-size: 25px;
  line-height: 0.01%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: none;
  color: #ffffff;
  text-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  background-color: #000000;
}

pre {
  text-align: center;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  text-decoration: blink;
}

a:hover {
  color: #cccccc;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 100);
}

.background-img {
  height: 100%;
  background: url(../img/bg1.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
}

.outer {
  position: absolute;
  top: 0px;
  display: table;
  height: 100%;
  width: 100%;
}

.middle {
  top: -0px;
  display: table-cell;
  vertical-align: middle;
}

.inner {
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.textCenter {
  text-align: center;
}

b.sub_text {
  color:#ffffff;
  font-size: 10px;
  position: relative;
  bottom: 20px;
  cursor: default;
}

b.sub_text1, span.sub_text1 {
  color: #d1d1d1;
  font-family: monospace;
  font-size: 10px;
  position: relative;
  top: 2px;
  cursor: default;
}

b.text {
  font-size: 10px;
  position: relative; 
  bottom: 10px;	
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#clock {
  cursor: default;
}